main {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
  width: 100%;
  background: var(--gray-800);
  gap: 2rem;
  border-radius: 8px;
}


.avatar {
  width: 3rem;
  height: 3rem;
  outline: 3px solid var(--green-500);
  border-radius: 8px;
  border: 3px solid var(--gray-800);
  box-sizing: initial;
}


main button {
  background: var(--green-500);
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0;
  font-weight: bold;
}

main span {
  color: var(--gray-400);
}

form {
  
}

textarea {
  border: 1px solid var(--green-500);
  background: var(--gray-900);
  resize: vertical  ;
  border-radius: 8px;
}

main .header {
  display: flex;
  gap: 1.5rem;  
}

main .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

main p {
  line-height: 1.6;
}
main .wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
main .text {
  color: var(--gray-300);
  
}